.btn {
	height: 64px;
	width: 300px;
	margin-left: 30%;
	padding-top: 17px;
	border: 3px solid $primary-color;
	text-transform:uppercase;
	display: inline-block;
	font-size: 1.4rem;
	box-sizing: border-box;
	text-align: center;

	
	color: $primary-color;
	text-decoration: none;
}