$primary-color: white;

body {
	color: $primary-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 5.9vh;
}


h1 {
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 8vh;
	color: $primary-color;
	text-align: center;
}