doctype html
html
    head
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        title White Trash
        script(src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
        script(src="./static/js/map.js")
        link(rel='stylesheet', href='./static/css/main.css')

    body
        section.map-page
            div.avatar-area
                span.avatar-frame
                    img(src="./static/img/hipsteri_tero.png" alt="Hipsteri")
                span.name Hipsteri Tero
                span.title Trash King
                    img(src="./static/img/crown-icon.png" alt="king-badge").badge
                span.trashes 12567 roskaa kerätty
                span.cans 66 eri roskakoriin
            div#map-canvas
            button#markTrash.btn Roskiin

