/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
/* line 3, ../../styles/sass/partials/_theme.scss */
body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* line 10, ../../styles/sass/partials/_theme.scss */
h1 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
}

/* line 1, ../../styles/sass/partials/_buttons.scss */
.btn {
  height: 64px;
  width: 300px;
  margin-left: 30%;
  padding-top: 17px;
  border: 3px solid white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
}

/* VIEWS
------------------------------------------------------------------------------*/
/* line 1, ../../styles/sass/views/_starting-page.scss */
.front-page {
  height: 100vh;
  background-color: black;
  background-image: url(/static/img/front-bg.jpg);
  background-size: 100% 100%;
}
/* line 7, ../../styles/sass/views/_starting-page.scss */
.front-page h1 {
  margin: 0 auto;
  padding-top: 480px;
  padding-bottom: 80px;
  display: block;
  width: 300px;
}

/* line 1, ../../styles/sass/views/_map.scss */
#map-canvas {
  height: 100vh;
  width: 100%;
}

/* line 6, ../../styles/sass/views/_map.scss */
#markTrash {
  background: white;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  border: 2px solid gray;
  color: black;
  padding-top: 6px;
}

/* line 16, ../../styles/sass/views/_map.scss */
.map-page {
  height: 100vh;
}

/* line 20, ../../styles/sass/views/_map.scss */
.avatar-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12000;
  background: white;
  width: 100%;
  padding: 4px;
}
/* line 28, ../../styles/sass/views/_map.scss */
.avatar-area .avatar-frame, .avatar-area .avatar-frame img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  /* Saf3+, Chrome */
  border-radius: 50px;
  /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
}
/* line 35, ../../styles/sass/views/_map.scss */
.avatar-area .title, .avatar-area .name {
  display: inline-block;
  width: 200px;
  color: gray;
  position: absolute;
  left: 110px;
}
/* line 43, ../../styles/sass/views/_map.scss */
.avatar-area .name {
  top: 28px;
}
/* line 47, ../../styles/sass/views/_map.scss */
.avatar-area .title {
  top: 56px;
}

/* line 29, ../../styles/sass/main.scss */
section {
  width: 100%;
}
