#map-canvas {
	height: 100vh;
<<<<<<< HEAD
	width: 100%;
=======
	width: 100%
}

#markTrash {
    background: none;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
>>>>>>> 0c5f2a7f8275425e0f673633e1f2ce42824e7535
}
