.front-page {
	height: 100vh;
    background-color: black;
    background-image: url(./static/img/front-bg.jpg);
    background-size: 100% 100%;

    h1 {
    	margin: 0 auto;
    	padding-top: 48vh;
    	padding-bottom: 80px;
    	display: block;
    	width: 30vw;
    }
 }


 .start {
 }